In [10]:
import pandas as pd
import numpy as np

In [11]:
data=pd.read_csv("D:\Rushikesh Landge\datasets\diamonds.csv")

<>:1: SyntaxWarning: invalid escape sequence '\R'
<>:1: SyntaxWarning: invalid escape sequence '\R'
C:\Users\saai\AppData\Local\Temp\ipykernel_15728\2678734026.py:1: SyntaxWarning: invalid escape sequence '\R'
  data=pd.read_csv("D:\Rushikesh Landge\datasets\diamonds.csv")

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       53940 non-null  int64
 1   carat    53940 non-null  float64
 2   cut      53940 non-null  object
 3   color    53940 non-null  object
 4   clarity  53940 non-null  object
 5   depth    53940 non-null  float64
 6   table    53940 non-null  float64
 7   price    53940 non-null  int64
 8   x        53940 non-null  float64
 9   y        53940 non-null  float64
 10  z        53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

## Problem Statement: Diamond Price Prediction

The price of a diamond is influenced by several measurable attributes related to its quality, size, and physical dimensions. This dataset contains the following features:
id – Unique identifier for each diamond

carat – Weight of the diamond

cut – Quality of the cut (Fair, Good, Very Good, Premium, Ideal)

colour – Color grade of the diamond

clarity – Measure of diamond clarity

depth – Total depth percentage

table – Width of the top of the diamond relative to its widest point

x, y, z – Physical dimensions of the diamond (length, width, depth in mm)

price – Price of the diamond (target variable)

In [13]:
data.head()

   id  carat      cut color clarity  depth  table  price     x     y     z
0   1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [16]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [28]:
data=data.drop(labels=['id'],axis=1)

In [31]:
data.duplicated().sum

<bound method Series.sum of 0        False
1        False
2        False
3        False
4        False
         ...
53935    False
53936    False
53937    False
53938    False
53939    False
Length: 53940, dtype: bool>